
<form [formGroup]="form" (ngSubmit)="submit()">
  

  

  <p *ngIf="error" class="error">
    {{ error }}
  </p>

  

</form>

<mat-card>
    <mat-card-title>Login</mat-card-title>
<mat-card-content>
<form autocomplete="off" novalidate [formGroup]="form">

        <p>
            <mat-form-field>
              <input 
                matInput 
                name="username" 
                formControlName="username"
                placeholder="Username">
            </mat-form-field>
          </p>
        <p>
            <mat-form-field>
              <input 
                matInput 
                name="password" 
                formControlName="password" 
                type="password"
                placeholder="Password">
            </mat-form-field>
          </p>

    <div class="button">
        <button type="submit" mat-button (click)="login()">Login</button>
    </div>


</form>

</mat-card-content>
</mat-card>