<h1 mat-dialog-title>Create Task</h1>
<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <p>What task do you want to add?</p>
    <mat-form-field>
      <input 
        matInput 
        formControlName="title" 
        placeholder="Title"
        required 
      />
    </mat-form-field>
    <mat-form-field>
      <textarea 
        matInput  
        formControlName="description" 
        placeholder="Description"
        required>
      </textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button 
      mat-button 
      (click)="onNoClick()"
      type="button">No Thanks</button>
  
    <button
      type="submit" 
      [disabled]="!taskForm.valid"
      mat-button
      [mat-dialog-close]="data.animal"
    >
      Ok
    </button>
  </div>
</form>
